<div id="admin-sidebar">

  <ul>

    <br/>

    <mat-icon>star</mat-icon>

    <li>
      <a [routerLink]="['/viewAllCompanies']" active="true" translate> viewAllCompanies </a>
    </li>

    <mat-icon>star</mat-icon>

    <li>
        <a [routerLink]="['/createCompany']" translate> createCompany </a>
    </li>

    <mat-icon>star</mat-icon>

  </ul>

  <ul>
    <li>
        <a [routerLink]="['/viewAllCustomers']" active="true" translate> viewAllCustomers </a>
    </li>

    <mat-icon>star</mat-icon>

    <li>
        <a [routerLink]="['/createCustomer']" translate> createCustomer </a>
    </li>
    <mat-icon>star</mat-icon>



  </ul>

</div>