* 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

#admin-sidebar 
{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    background: #1a1a1a;
    text-align: center;
    transform-origin: left;
    transition: all 400ms ease;
}


#admin-sidebar ul li
{
    color: #ccc;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #222222;
    line-height: 50px;
    padding: 2.5%;
    margin-bottom : 10px;
    margin-top: 10px;
}

#admin-sidebar ul li:hover
{
    background: cornflowerblue;
    color: white;
}

#admin-sidebar ul 
{
    padding: 5%;
}

#admin-sidebar ul li
{
    color: white;
}

mat-icon
{
    color: cornflowerblue;
}