<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body dir="ltr">
    <div class="container-fluid">

        <!-- header navbar div -->
        <div class="header-div row">
            <app-header [type]="type"></app-header>
        </div>

        <!-- middle div , divided to two divs , sidebar and router-outlet -->
        <div class="middle-div row">
            <!-- sidebar    left side -->
            <div class="col-sm-1 col-xs-1 col-md-2 left-div">
                    
                
                <app-sidebar-admin *ngIf="type == 'admin'"></app-sidebar-admin>
                <app-sidebar-company *ngIf="type == 'company'"></app-sidebar-company>
                <app-sidebar-customer *ngIf="type == 'customer'"></app-sidebar-customer>

            </div>
            <!-- the router-outlet div    right side -->
            <div class="col-sm-11 col-xs-11 col-xs-11 col-md-10 right-div">
                <router-outlet></router-outlet>
            </div>
        </div>

        <div class="footer-div row">
            <app-footer></app-footer>
        </div>
    </div>
    <ngx-alerts></ngx-alerts>

</body>