<!-- angular material Card 
card will have title Company : name-of-company 
details of the company - without the ability to change  , only for password and email 
2 buttons ,  close and update 
-->

<form [formGroup]="form">
  <h6 mat-dialog-title>{{data.title}}</h6>
  <mat-dialog-content>
    <mat-form-field>
        {{'id' | translate}} :
      <input matInput formControlName="id" [ngModel]="data.id" readonly disabled (click)="openSnackBar()">
    </mat-form-field>
    <span class="glyphicon glyphicon-remove"></span>

    <mat-form-field>
        {{'title' | translate}} :
      <input matInput formControlName="title" [ngModel]="data.title" readonly disabled (click)="openSnackBar()">
    </mat-form-field>
    <span class="glyphicon glyphicon-remove"></span>

    <mat-form-field>
        {{'endDate' | translate}} :
      <mat-form-field>
        <input matInput [matDatepicker]="dp3" formControlName="endDate" [ngModel]="data.endDate" disabled readonly>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </mat-form-field>

    <mat-form-field>
        {{'price' | translate}} :
      <input matInput formControlName="price" [ngModel]="data.price">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <div ngPreserveWhitespaces>
      <button mat-raised-button type="button" class="btn btn-danger btn-md" (click)="onCloseNo()">cancel</button>
      <!-- <button mat-raised-button type="submit" >update</button>   -->
      <button mat-button type="button" class="btn btn-info btn-md" [mat-dialog-close]="form.value">Update</button>


    </div>
  </mat-dialog-actions>
</form>