.nomargin {
  margin: 0%;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

section {
  border: ridge;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  width: auto;
}

li {
  font-size: 20px;
  color: white;
}


.dropdown-menu li a:hover {
  background: cornflowerblue;
}

.dropdown-menu li a {
  text-align: center;
  background: #363636;
  color: white;
}

.dropdown-menu {
  background: #363636;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #fff;
  background: #363636;
}

ul li a {
  color: white;
}
